/* General */

body {
    font-family: sans-serif;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 0;
}




.container {
    position: relative;
    width: 100%;
}

.menu ul {
    display: inline-flex;
    margin: 30px 10px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    letter-spacing: 3px;
    font-family: monospace;
}

.active a {
    color: #66FCF1 !important;
}

a {
    color: #b2b1b1;
    text-decoration: none;
}

.banner {
    top: 20px;
    right: 50px;
    font-size: 13px;
    font-family: 'Brush Script MT', cursive;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 25px 4px 25px 4px;
    background-color: rgba(18, 160, 237, 0.6);
}

.banner:hover {
    background-color: rgba(54, 150, 201, 0.6);
}
.banner span {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    display: block;
    padding: 8px 22px;
}


/* Index */

.main {
    display: block;
    margin: 100px auto;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    color: #c5c6c7;
    height: 100%;
}

.main h2 {
    color: white;
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
}

.main h1 {
    font-size: 170px;
    margin: 20px 0;
    color: #66FCF1;
}

.main p {
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 25px;
    font-size: 12px;
}

.click-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    color: #c5c6c7;
}

.click-me a {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    border: 2px solid #5a827f;
}

.click-me a:hover {
    border: 2px solid white;
}


/* Visited */

.places h1 {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 40px;
    color: white;
}

.cities {
    display: flex;
    background: rgba(146, 6, 6, 0.7);
    text-align: center;
}

.cities>div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 33%;
    border-radius: 10px;
}

.city {
    border: 2px solid beige;
}

.city-img {
    width: 100%; /* image will be responsive on screen resize */
}

.city-title {
    display: block;
    color: #000;
    background-color: rgba(217, 240, 252, 0.6);
}

#main {
    padding: 0;
}


/* Footer */

footer {
    background-color: black;
    clear: both;
    position: relative;
    height: 80px;
    margin-top: 200px;
    padding-top: 40px;
}

footer p {
    color: white;
    text-align: center;
}